CONFIG_TARGET_airoha=y
CONFIG_TARGET_airoha_an7583=y
CONFIG_TARGET_airoha_an7583_DEVICE_nokia_xg-040g-mf-ubi=y

CONFIG_TARGET_BOARD="airoha"
CONFIG_TARGET_SUBTARGET="an7583"
CONFIG_TARGET_PROFILE="DEVICE_nokia_xg-040g-mf-ubi"

CONFIG_TARGET_ROOTFS_SQUASHFS=y

CONFIG_PACKAGE_kmod-phy-airoha-en8811h=y
CONFIG_PACKAGE_kmod-regulator-userspace-consumer=y
CONFIG_PACKAGE_kmod-usb-ledtrig-usbport=y
CONFIG_PACKAGE_fitblk=y
